Sc2LadderServer
Sc2LadderServer.exe
LadderBots.json
LadderManager.json
aiarena-client.json
matchuplist
playerids
sc2ladderserver_stderr.log
sc2ladderserver_stdout.log
aiarena-client.log
errorlist
results.json
laddermanager.pid
.shutdown

bots/
replays/

.idea/

config.py

tmp/
*.log
*.pyc
*.stdout
*.txt
venv/
results
run_tests.py
.vscode
.vs