*.log
*.pyc
*.stdout
*.txt
.vscode
.vs
.idea/
venv/

tmp/
bots/
replays/
matchuplist
aiarena-client.log
results.log
laddermanager.pid
.shutdown
config.py
run_tests.py
gui/settings.json
results.json
node_modules
dist/
build/
arenaclient.egg-info
settings.json