jinja2
numpy
imutils
requests==2.21.0
portpicker==1.3.1
s2clientprotocol==4.10.2.76052.0
aiohttp==3.6.0
termcolor==1.1.0
psutil==5.6.3
typing==3.7.4.1
aiodns>=1.1
Brotli
cchardet
opencv-contrib-python==4.1.1.26
opencv-python
uvloop
aiohttp-jinja2
loguru