/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, p, blockquote, pre, */
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/* table, caption, tbody, tfoot, thead, tr, th, td,  */
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
/* Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}
.wrapper {
	width: 100%;
	min-width: 1000px;
	min-height: 100%;
	height: auto !important;
    height: 100%;
    /* background-image: url(https://ai-arena.net/static/img/background.gif); */
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
    /* background-image: url(https://ai-arena.net/static/img/background.gif); */
    
}


/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
    position: relative;
    /* background-image: url(https://ai-arena.net/static/img/background.gif); */
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 270px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 250px;
	margin-left: -100%;
	position: relative;
	/* background-image: url(https://ai-arena.net/static/img/background.gif); */
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -100px auto 0;
	min-width: 1000px;
	height: 100px;
	/* background-image: url(https://ai-arena.net/static/img/background.gif); */
	position: relative;
}

/* table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
    border: 1px solid #ddd;
} */

table {
    display: blocking;
    overflow: hiden;
    background-color: rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    border-collapse: collapse;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
th {
    /* This covers the th elements */
}
tr {
    /* This covers the tr elements */
}
/* tr:nth-child(even){background-color: #86c232} */
/* th, td {
    text-align: left;
    padding: 8px;
    color: #86c232;
} */
td{
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
}
td {
    display: table-cell;
    vertical-align: inherit;
    color: #86c232;
}
h1, h2, h3, h4, h5, h6,a {
    color: #86c232;
   }
label{
    color: #86c232;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
thead {
    background-color: rgba(97, 137, 47, 0.7);
    color: #ffffff;
    font-size: 10px;
    min-height: 40px;
}