<!doctype html>
<html>
   <head>
      <title>Match Runner</title>
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <!--style>
        
         </style-->
      <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
      <script type="text/javascript">
         jQuery(document).ready(function(){
         jQuery(".chosen").data("placeholder","Select Frameworks...").chosen();
         $("#watch_id").hide();
         $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_bots')}}",
                              type: "GET",
                             dataType: "json"
                          }).done(function(data) {
                              console.log(data)
                              var titelliste = data.Bots
                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#bot1, #bot2');
                                 var option = document.createElement("option");
                                  option.text = titelliste[i];
                                  selects.append(option);
                                  selects.trigger("chosen:updated"); 
                              }
                          });
                          event.preventDefault();
         
                  });
                      $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_maps')}}",
                              type: "GET",
              
                          }).done(function(data) {
                              var titelliste = data.Maps
                              var selects = $('#map');
                              var option = document.createElement("option");
                              option.text = 'Random'
                              selects.append(option);
                              selects.trigger("chosen:updated"); 
                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#map');
                                 var option = document.createElement("option");
                                  option.text = titelliste[i];
                                  selects.append(option);
                                  selects.trigger("chosen:updated"); 
                              }
         
                          });
                          event.preventDefault();
         
                  });
                  });
                  $(function() {
                      $('a#play_button').on('click', function() {
                          if ($("input#visualize_id").is(":checked")){
                                 
                                 $("#watch_id").show();
                          }
                          else{
                             $("#watch_id").hide();
                          }
                         $.ajax({
                              url: "{{ url_for('run_games')}}",
                              type: "POST",
                              data:
                             {
                                  "Bot1": $("#bot1").chosen().val(),
                                  "Bot2": $("#bot2").chosen().val(),
                                  "Map": $("#map").chosen().val(),
                                  "Realtime": $("input#realtime_id").is(":checked"),                   
                                  "Visualize": $("input#visualize_id").is(":checked")
                             },       
                         });
                          event.preventDefault();
                  });
                  });
                 $(function() {
                 $('input#arenabots_id').change(function () {
                     console.log('change')
         
                     if ($('input#arenabots_id').is(':checked')) {
                         $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_arena_bots')}}",
                              type: "GET",
                              
                             dataType: "json"
              
                          }).done(function(data) {
                              var titelliste = data.results
                              console.log(data)
                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#bot1, #bot2');
                                 var option = document.createElement("option");
                                 option.text = titelliste[i].name + ' (AI-Arena)';
                                 selects.append(option);
                                 selects.trigger("chosen:updated"); 
                              }
         
                          });
                          event.preventDefault();
         
                     });
                     } else {
                         console.log($('#arenabots_id').val() + ' is now unchecked');
                     }
                 });
                 });
         
         
                 function generateDynamicTable(){
                     $(function() {
                         console.log('Executing');
         
                          $.ajax({
                              url: "{{ url_for('get_results')}}",
                              type: "GET",
                              
                             dataType: "json"
              
                          }).done(function(data) {
                            var myResults = data;
                        
                            var noOfResults = myResults.length;
            
                            if(noOfResults>0){
                                
                    
                                // CREATE DYNAMIC TABLE.
                                var table = document.createElement("table");
                                
                               // table.style.width = '50%';
                                //table.setAttribute('border', '1');
                                //table.setAttribute('cellspacing', '0');
                                //table.setAttribute('cellpadding', '5');
                                //table.setAttribute('class','ResultsTable');
                                table.setAttribute('style',"overflow-x:auto;");

                                
                                // retrieve column header
                    
                                var col = []; // define an empty array
                                for (var i = 0; i < noOfResults; i++) {
                                    for (var key in myResults[i]) {
                                        if (col.indexOf(key) === -1) {
                                            col.push(key);
                                        }
                                    }
                                }
                                
                               // CREATE TABLE HEAD .
                                var tHead = document.createElement("thead");	
                                    
                                
                                // CREATE ROW FOR TABLE HEAD .
                                var hRow = document.createElement("tr");
                                
                                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                                for (var i = 0; i < col.length; i++) {
                                        var th = document.createElement("th");
                                        th.innerHTML = col[i];
                                        hRow.appendChild(th);
                                }
                                tHead.appendChild(hRow);
                                table.appendChild(tHead);
                                
                                // CREATE TABLE BODY .
                                var tBody = document.createElement("tbody");	
                                
                                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                                for (var i = 0; i < noOfResults; i++) {
                                
                                        var bRow = document.createElement("tr"); // CREATE ROW FOR EACH RECORD .
                                        
                                        
                                        for (var j = 0; j < col.length; j++) {
                                            var td = document.createElement("td");
                                            var value = myResults[i][col[j]];

                                            if (typeof value == 'number' && value.toFixed(5).substring(0,1)=='0.'){
                                                value = (value*1000).toFixed(2);
                                            }
                                            //else if (typeof value == 'string' && value.substring(19,23) =='UTC' ){
                                            //    value = value.substring(0,10);
                                            //}
                                            td.innerHTML = value;
                                            bRow.appendChild(td);
                                        }
                                        tBody.appendChild(bRow)
                    
                                }
                                table.appendChild(tBody);	
                                
                                
                                // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                                var divContainer = document.getElementById("myResults");
                                divContainer.innerHTML = "";
                                divContainer.appendChild(table);
                                
                            };
                            setTimeout(generateDynamicTable, 30000);

                            });
                        });	
                 };
                     
             
                  
      </script>
   </head>
   <body style='background-image: url(/static/img/background.gif)';>
      <div class="wrapper">
      <header class="header">
         <img src="https://ai-arena.net/static/img/ai-arena-logo.png" alt="AI Arena Logo">
      </header>
      <!-- .header-->
      <div class="middle">
      <div class="container">
         <main class="content">
            <h1>Bots</h1>
            <br>
            <label>Show AI-Arena bots:</label> <label class="switch">
            <input id="arenabots_id" type="checkbox" name="arenabots">
            <span class="slider round"></span>
            </label><br><br>
            <label>Bot 1: </label>
            <select class="chosen" multiple="true" style="width:400px;" id="bot1">
            </select><br><br>
            <label>Bot 2: </label>
            <select class="chosen" multiple="true" style="width:400px;" id="bot2">
            </select><br><br>
            <label>Map:   </label>
            <select class="chosen" multiple="true" style="width:400px;" id="map">
            </select><br><br>
            <label>Visualize: </label><label class="switch">
            <input id="visualize_id" type="checkbox" name="visualize">
            <span class="slider round"></span>
            </label><br><br>
            <label>Realtime: </label><label class="switch">
            <input id="realtime_id" type="checkbox" name="realtime">
            <span class="slider round"></span>
            </label><br><br>
            <a href="#" id="play_button"><button class='btn btn-default'>Play</button></a><br><br>
            <div id="watch_id">
               <h1>Live Feed</h1>
               <a href="{{ url_for('watch') }}">Watch</a><br><br><br>
            </div>
            <div class='Results' >
            <h2>Results</h2>
            <body onload="generateDynamicTable()">
                <div id="myResults">
                    <p>No Results</p>
         </main>
         <!-- .content -->
         </div><!-- .container-->
         <aside class="left-sidebar">
         <a href="{{url_for('settings')}}">Settings</a><br>
         <label>AI Arena Login</label>
         </aside><!-- .left-sidebar -->
         </div>
      </div>
   </body>
</html>